<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="on" />
		<application>
			<channels>
				<!--channel ref="http" port="6000">
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full" />
					</serverProviders>
				</channel-->
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
